body{
    background-image: url(./images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 150vh;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

.chartContainer{
    border: 1px solid seagreen;
}